<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UIRef Id="WixUI_Common" />
    <UI Id="MyCustomUI">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="UserExit" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="ExitDialog" />
      <DialogRef Id="ProgressDlg" />
      
      <!-- return 1 when user click on Finish button upon successful installation -->
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" >1</Publish>
    </UI>

    <InstallUISequence>
      <Show Dialog="UserExit" OnExit="cancel" />
      <Show Dialog="ExitDialog" OnExit="success" />
      <Show Dialog="ErrorDlg" OnExit="error" />
    </InstallUISequence>

    <AdminUISequence>
      <Show Dialog="UserExit" OnExit="cancel" />
      <Show Dialog="ExitDialog" OnExit="success" />
      <Show Dialog="ErrorDlg" OnExit="error" />
    </AdminUISequence>
  </Fragment>
</Wix>